<div class="container">

  <div class="hero-unit">
    <h1>Chronic Ping</h1>
    <p>A new way to input dates<p>
  </div>

  <h2>Inspiration for project</h2>
  <p>It is really quite simple. I got tired of using the calendar date select on mobile devices, and whenever you threw in the time things just got really messy. Chronic Ping is the fastest and most flexible way to enter a date that I have come across. Just simply use natural language.</p>
  <h2>Demo</h2>
  <p>
    Since all chronic_ping does is ping chronic, you can use any date/time that chronic can parse (<a href="https://github.com/mojombo/chronic#examples" target="_blank">Examples</a>). Give it a shot.
  </p>

  <form class="form-horizontal well">
    <br/>
    <div class="control-group">
      <label class="control-label" for="date_time">DateTime</label>
      <div class="controls">
        <input type="text" id="date_time" placeholder="DateTime" class="chronic_ping">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="date">Date</label>
      <div class="controls">
        <input type="text" id="date" placeholder="Date" class="chronic_ping" data-format="date">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="time">Time</label>
      <div class="controls">
        <input type="text" id="time" placeholder="Time" class="chronic_ping" data-format="%I:%M%p">
      </div>
    </div>
  </form>
  
  <h2>Source</h2>
  <ul>
    <li><a href="https://github.com/biola/chronic_ping">https://github.com/biola/chronic_ping</a></li>
    <li><a href="https://github.com/halloffame/chronic_ping_server">https://github.com/halloffame/chronic_ping_server</a></li>

</div>

